body {
	background: #F9F4EE;
	text-align: center;
}

h1, h4 {
	margin-bottom: 0;
	margin-top: 0;
}

#logo {
	width: 129px;
	margin-top: 10%;
}

#title {
	font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
	font-weight:600; 
	font-stretch:normal;
	font-size: 3em;
	color: #EA3C29;
}

#tagline {
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 1em;
	color: #293477;
}

.items .columns {
	padding: 48px;
}

.item_picture_holder {
	padding-bottom: 36px;
}

@media only screen and (min-width: 40.063em) {
	.item_picture_holder {
		padding: 36px;
		height: 50%;
	}

.item_picture {
	position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
} /* min-width 641px, medium screens */

.item_title {
	font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
	font-weight:600; 
	font-stretch:normal;
	font-size: 1em;
	color: #293477;
}

.item_description {
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 1em;
	color: #293477;
}